**__**
**test**
*.yml
*.crt
*.key
*.pem
.venv*/
logs*/
*.lock
*.session*
layers/
*.txt
client_implementations/config.py

scripts/

!__init__.py
!__main__.py
!config.sample.yml
!layers_generator/data/layers/
